*,
*:after,
*:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.comment {
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(221, 217, 217, 0.432);
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 6px;
}

.form-comment {
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgba(158, 185, 243, 0.459);
  border-top: 1px solid rgba(171, 154, 247, 0.459);
}

.sub {
  font-weight: 300;
  font-size: x-small;
  position: absolute;
  bottom: 0.1rem;
  right: 0.3rem;
}

.avatar-comment {
  transform: scale(0.7);
  background-color: #150669;
  margin-bottom: 1rem;
}
